.grid{
  display: grid;
  place-items: center;
  justify-content: center;
  margin: auto;
  width: 100px;
  border: 1px solid black;
  border-radius: 13px;
  background-color: black;
}
/* 
.redLight{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 1px solid black;
  margin-top: 15px;
  background: grey;
}

.Yellowlight{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 1px solid black;
  margin-top: 15px;
  background: grey;
} */


.bg-grey{
  background-color: grey;
}
.trafficLight{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 1px solid black;
  margin: 15px 0px;
  background: grey;
}